# Dependency directories
node_modules/
# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
# Build files
/build
# Cache files
.cache/
# Editor directories
.idea/
.vscode/
# Mac-specific files
.DS_Store
